*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
    color: rgb(110, 80, 52);
    background-color: rgb(239, 225, 181);
}
#add{
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(54, 51, 46);
}
#not_read{
    margin-left: 25px;
}
#form{
    height: 35%;
    width: 50%;
    justify-self: center;
    align-self: center;
    padding: 10px;
    background-color: rgb(110, 80, 52);
}
fieldset{
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    border: none;
    gap: 20px;
    padding: 2%;
}
legend{
    font-weight: bold;
    font-size: 20px;
}
input[type="text"]{
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(239, 225, 181);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 20px;
    padding: 15px;
}
.card{
    background-color: rgb(93, 211, 182);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgb(54, 51, 46);
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.upper{
    padding-left: 5%;
    font-weight: bold;
    font-size: 20px;
    grid-area: 1 / 1/ 2 / 3;
}
.lower{
    padding-left: 5%;
    color: rgb(110, 80, 52);
    font-size: 17px;
    grid-area: 2 / 1 / 3 / 3;
}
.lowest{
    padding-left: 5%;
    color: rgb(110, 80, 52);
    font-size: 17px;
    grid-area: 3 / 1 / 4 / 3;
}
#submit{
    float: right;
    margin-right: 2%;
    width: 50px;
    height: 25px;
}
.removeCard{
    justify-self: end;
    margin-right: 5%;
    grid-area: 4 / 2 / 5 / 3;
}
.changeStatus{
    justify-self: start;
    margin-left: 5%;
    grid-area: 4 / 1 / 5 / 2;
}
img{
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    opacity: 80%;
}